/*Author: Angela Valenzuela*/

body{
	background-color: white;
}

#toggleMe {
	background-color: pink;
}

#toggleMe.metal{
	background-color: red;
}

#viewDetails.hide{

}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;

}

.grid-item {
	background-color: pink;
	border: 1px solid red;
	padding: 10px;
	font-size: 30px;

}

.grid-detail {
	grid-column-start: 1;
  	grid-column-end: 4;
}

.hidden {
	display: none;
}